In [1]:
pip install eventstudy

Defaulting to user installation because normal site-packages is not writeable
Collecting eventstudy
  Downloading eventstudy-0.1a12-py3-none-any.whl (41 kB)
Requirement already satisfied: statsmodels in c:\programdata\anaconda3\lib\site-packages (from eventstudy) (0.13.2)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from eventstudy) (3.5.1)
Requirement already satisfied: numpy in c:\programdata\anaconda3\lib\site-packages (from eventstudy) (1.21.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from eventstudy) (1.7.3)
Requirement already satisfied: pandas in c:\users\jerry yuan\appdata\roaming\python\python39\site-packages (from eventstudy) (1.2.4)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (3.0.4)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->eventstudy) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->eventstudy) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas->eventstudy) (2021.3)
Requirement already satisfied: patsy>=0.5.2 in c:\programdata\anaconda3\lib\site-packages (from statsmodels->eventstudy) (0.5.2)
Installing collected packages: eventstudy
Successfully installed eventstudy-0.1a12
Note: you may need to restart the kernel to use updated packages.

In [1]:
import eventstudy as es
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
es.Single.import_returns('returns.csv')

In [3]:
ar=[0,0,0,0,0,0,0]

In [4]:

event1=es.Single.market_model(
        security_ticker ="MSFT" ,
        market_ticker = 'SPY',
        event_date = np.datetime64('2003-01-16'),
        event_window = (-2,+2), 
        estimation_size = 250,
        buffer_size = 1
)

In [5]:
event1.results(decimals=[5,5,3,5,2,2])

         AR  Std. E. AR       CAR  Std. E. CAR  T-stat  P-value
-2  0.00203     0.01659     0.002      0.01659    0.12     0.90
-1  0.00628     0.01659     0.008      0.02346    0.35     0.72
0  -0.01172     0.01659    -0.003      0.02873   -0.12     0.91
1  -0.05287     0.01659  -0.056 *      0.03317   -1.70     0.09
2   0.01702     0.01659    -0.039      0.03709   -1.06     0.29

In [6]:
event1.results(decimals=[5,5,3,5,2,2])["AR"]

-2    0.00203
-1    0.00628
0    -0.01172
1    -0.05287
2     0.01702
Name: AR, dtype: float64

In [7]:
## results from Julia package
t=[ 0.0019911042579372883,
  0.00623522028136142,
 -0.011764170351559555,
 -0.052906260408870705,
  0.01697477393791851]

In [8]:
## difference between Julia and Python package
event1.results(decimals=[5,5,3,5,2,2])["AR"]-t

-2    0.000039
-1    0.000045
0     0.000044
1     0.000036
2     0.000045
Name: AR, dtype: float64

In [36]:
## million rows data set
big_e=pd.read_csv("p_e_big.csv")
big_e

,firm_id,date,event_window_start,event_window_end,est_window_start,est_window_end
0,MSFT,2003-01-21,2003-01-14,2003-01-21,2002-01-15,2003-01-13
1,MSFT,2003-01-21,2003-01-14,2003-01-21,2002-01-15,2003-01-13
2,MSFT,2003-01-16,2003-01-14,2003-01-21,2002-01-15,2003-01-13
3,MSFT,2003-01-17,2003-01-14,2003-01-21,2002-01-15,2003-01-13
4,MSFT,2003-01-21,2003-01-14,2003-01-21,2002-01-15,2003-01-13
...,...,...,...,...,...,...
999995,MSFT,2003-01-14,2003-01-14,2003-01-21,2002-01-15,2003-01-13
999996,MSFT,2003-01-21,2003-01-14,2003-01-21,2002-01-15,2003-01-13
999997,MSFT,2003-01-16,2003-01-14,2003-01-21,2002-01-15,2003-01-13
999998,MSFT,2003-01-14,2003-01-14,2003-01-21,2002-01-15,2003-01-13
999999,MSFT,2003-01-17,2003-01-14,2003-01-21,2002-01-15,2003-01-13

In [45]:
big_e["firm_id"][0]
big_e["date"][0]

'2003-01-21'

In [55]:
# %%timeit -r 5 -n 10
for i in np.arange(0,200000):
    event2=es.Single.market_model(
            security_ticker ="MSFT" ,
            market_ticker = 'SPY',
            event_date = np.datetime64('2003-01-16'),
            event_window = (-2,+2), 
            estimation_size = 250,
            buffer_size = 1
    )
#     print(event2.results(decimals=[5,5,3,5,2,2]))

2min 1s ± 1.65 s per loop (mean ± std. dev. of 5 runs, 10 loops each)

In [47]:
event2.results()

       AR  Std. E. AR       CAR  Std. E. CAR  T-stat  P-value
-2  0.002       0.017     0.002        0.017   0.122    0.903
-1  0.006       0.017     0.008        0.023   0.354    0.724
0  -0.012       0.017    -0.003        0.029  -0.119    0.905
1  -0.053       0.017  -0.056 *        0.033  -1.697    0.091
2   0.017       0.017    -0.039        0.037  -1.059    0.291